#!/bin/sh

set -e

cd {{ blocked_names_generator_path }} && \
    /usr/bin/python3 {{ blocked_names_generator_path }}/generate-domains-blocklist.py \
    -o {{ blocked_names_path }}

chmod 0444 {{ blocked_names_path }}
chown root:root {{ blocked_names_path }}
