{% for rule in dnscrypt_proxy.cloaking_rules %}
{{ rule }}
{% endfor %}
{% if dhcp_reservations is defined and dhcp_reservations is iterable %}
{% for device in dhcp_reservations %}
{{ device.hostname }} {{ device.ip }}
{% endfor %}
{% endif %}
