# Empty listen_addresses to use systemd socket activation
listen_addresses = {{ dnscrypt_proxy.listen_addresses | list }}
{% if dnscrypt_proxy.servernames is defined %}
server_names = {{ dnscrypt_proxy.servernames | list }}
{% else %}
ipv4_servers = true
ipv6_servers = false
dnscrypt_servers = false
doh_servers = true
require_dnssec = true
require_nolog = true
require_nofilter = true
{% endif %}

block_ipv6 = true
block_unqualified = true
block_undelegated = true

force_tcp = false
http3 = false

{% if dnscrypt_proxy.cache %}
cache = true
cache_size = {{ dnscrypt_proxy.cache_size }}
cache_min_ttl = 3600
cache_max_ttl = 86400
cache_neg_min_ttl = 60
cache_neg_max_ttl = 600
{% else %}
cache = false
{% endif %}

keepalive = 30

{% if dnscrypt_proxy.forwarding_rules is defined %}
forwarding_rules = '{{ dnscrypt_proxy_conf_dir }}/forwarding-rules.txt'
{% endif %}

{% if dnscrypt_proxy.cloaking_rules is defined %}
cloak_ptr = true
cloak_ttl = 3600
cloaking_rules = '{{ dnscrypt_proxy_conf_dir }}/cloaking-rules.txt'
{% endif %}

[blocked_names]
  blocked_names_file = '{{ dnscrypt_proxy_conf_dir }}/blocked-names.txt'

[blocked_ips]
  blocked_ips_file = '{{ dnscrypt_proxy_conf_dir }}/blocked-ips.txt'

{% if dnscrypt_proxy.allowed_names is defined %}
[allowed_names]
  allowed_names_file = '{{ dnscrypt_proxy_conf_dir }}/allowed-names.txt'
{% endif %}

[query_log]
  file = '/var/log/dnscrypt-proxy/query.log'

[nx_log]
  file = '/var/log/dnscrypt-proxy/nx.log'

[sources]
  [sources.'public-resolvers']
  url = 'https://download.dnscrypt.info/resolvers-list/v3/public-resolvers.md'
  cache_file = '/var/cache/dnscrypt-proxy/public-resolvers.md'
  minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
  refresh_delay = 24
  prefix = ''
