# Patterns to block

{% if dnscrypt_proxy.block_patterns is defined %}
{% for pattern in dnscrypt_proxy.block_patterns %}
{{ pattern }}
{% endfor %}
{% endif %}

# eth0.me is hardcoded in tools such as Archey, but is not available any
# more, causing issues such as terminal sessions taking a long time to
# start.

eth0.me

# ibpxl.com is a tracker that seems to frequently have issues, causing
# page loads to stall.

ibpxl.com

# ditto for that one

internetbrands.com

# Ubuntu's motd script sends way too much information to Canonical

motd.ubuntu.com
