---
network:
  ip: 192.168.1.100
  hostname: pi.loc
  router: 192.168.1.1 # or false when dhcp should be used
  subnet: 192.168.1.0/24
  nameserver: 127.0.0.1

env:
  - "LANG=en_US.UTF-8"
  - "LC_ALL=en_US.UTF-8"
  - "EDITOR=vim"
  - "HISTSIZE=1000"
  - "HISTFILESIZE=1000"
  - "HISTCONTROL=ignoredups:erasedups"

dnscrypt_proxy:
  cache_size: 4096
  listen_addresses: ["127.0.0.1:53", "192.168.1.100:53"]
  servernames: ["cz.nic"]
  blocklists:
    - https://raw.githubusercontent.com/notracking/hosts-blocklists/master/dnscrypt-proxy/dnscrypt-proxy.blacklist.txt
    - https://hosts.oisd.nl/basic/
    - https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/dnscrypt/spy.txt
  cloaking_rules:
    - "pi.loc {{ network.ip }}"
    - "navidrome.loc {{ network.ip }}"
  block_patterns:
    - "*.lan"
    - "*.local"
    - "*.localdomain"
    - "*.workgroup"

samba:
  share_name: SOME_NAME
  share_path: /mnt/data

minidlna:
  port: 8200
  interface: eth0
  friendly_name: SOME_NAME
  media_dirs:
    - { type: V, path: /mnt/data/Movies/Film }
    - { type: V, path: /mnt/data/Movies/Series }
    - { type: V, path: /mnt/data/Movies/Documentary }
    - { type: V, path: /mnt/data/Tutorials }
    - { type: A, path: /mnt/data/AudioBooks }

navidrome:
  version: 0.49.3
  working_directory: /var/lib/navidrome
  bin_directory: /opt/navidrome
  music_directory: /mnt/data/Music
  external_services: false
  theme: Nord

yt_dlp_version: 2023.02.17

mount:
  points:
    - { path: /mnt/data, owner: nobody, group: nogroup, mode: "0777" }

static_sites:
  - { "server_name": "example1.loc" }
  - { "server_name": "example2.loc", "autoindex": true }
