---
network:
  ip: 192.168.1.100
  hostname: "pi.home.arpa"
  router: 192.168.1.1 # or false when dhcp should be used
  domain: home.arpa
  subnet: 192.168.1.0/24
  nameserver: 127.0.0.1

env:
  - "LANG=en_US.UTF-8"
  - "LC_ALL=en_US.UTF-8"
  - "EDITOR=vim"
  - "HISTSIZE=1000"
  - "HISTFILESIZE=1000"
  - "HISTCONTROL=ignoredups:erasedups"

dnscrypt_proxy:
  version: 2.1.4
  listen_addresses: [ "127.0.0.1:53", "192.168.1.100:53" ]
  cache_size: 4096
  servernames: [ "cloudflare-security" ]
  blocklists:
    - https://big.oisd.nl/
  cloaking_rules:
    - "localhost 127.0.0.1"
    - "pi.{{ network.domain }} {{ network.ip }}"
    - "navidrome.{{ network.domain }} {{ network.ip }}"
  block_patterns:
    - "*.lan"
    - "*.loc"
    - "*.local"
    - "*.localdomain"
    - "*.workgroup"
  forwarding_rules:
    - 1.168.192.in-addr.arpa 192.168.1.1
    - 224.in-addr.arpa 192.168.10.1

samba:
  share_name: SOME_NAME
  share_path: /mnt/data

minidlna:
  port: 8200
  interface: eth0
  friendly_name: SOME_NAME
  media_dirs:
    - { type: V, path: /mnt/data/Movies/Film }
    - { type: V, path: /mnt/data/Movies/Series }
    - { type: V, path: /mnt/data/Movies/Documentary }
    - { type: V, path: /mnt/data/Tutorials }
    - { type: A, path: /mnt/data/AudioBooks }

navidrome:
  version: 0.49.3
  working_directory: /var/lib/navidrome
  bin_directory: /opt/navidrome
  music_directory: /mnt/data/Music
  external_services: false
  theme: Nord

yt_dlp_version: 2023.02.17

mount:
  points:
    - { path: /mnt/data, owner: nobody, group: nogroup, mode: "0755" }

static_sites:
  - { "server_name": "example.{{ network.domain }}" }
  - { "server_name": "foobar.{{ network.domain }}", "allowed_origins": ["youtube.com", "soundcloud.com"], reject_ip: ["192.168.1.106"] }
