# {{ ansible_managed }}

[user]
    name = {{ user_name }}
    email = {{ user_email }}

[color]
    ui = true
    diff = true
    merge = true

[fetch]
    prune = true

[pull]
    rebase = true

[push]
    default = simple
