#!/bin/bash

# IPv4

# Flush all current rules from iptables
iptables -Z
iptables -t nat -F
iptables -t nat -X
iptables -t mangle -F
iptables -t mangle -X
iptables -t raw -F
iptables -t raw -X
iptables -F
iptables -X

# Set default policies for INPUT, FORWARD and OUTPUT chains
iptables -P INPUT DROP
iptables -P FORWARD DROP
iptables -P OUTPUT DROP

{% if network.router %}
# Force DNS
iptables -A PREROUTING -t nat -s {{ network.subnet }} ! -d {{ network.ip }}/32 -p udp --dport 53 -j DNAT --to {{ network.ip }}

# Force NTP
iptables -A PREROUTING -t nat -s {{ network.subnet }} ! -d {{ network.ip }}/32 -p udp --dport 123 -j DNAT --to {{ network.ip }}

# NAT
iptables -A POSTROUTING -t nat -o {{ network.interface }} -s {{ network.subnet }} -j MASQUERADE

# This is used to overcome some ISP's and servers that block ICMP fragmentation needed packets
iptables -A POSTROUTING -t mangle -p tcp --tcp-flags SYN,RST SYN -o {{ network.interface }} -j TCPMSS --clamp-mss-to-pmtu

# Forward chain
iptables -A FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A FORWARD -s {{ network.subnet }} -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT
iptables -A FORWARD -s {{ network.subnet }} -p udp -m conntrack --ctstate NEW -j ACCEPT
iptables -A FORWARD -s {{ network.subnet }} -p tcp --tcp-flags FIN,SYN,RST,ACK SYN -m conntrack --ctstate NEW -j ACCEPT
# iptables -A FORWARD -s {{ network.subnet }} -j ACCEPT
iptables -A FORWARD -j LOG --log-prefix "FORWARD DROP: "
iptables -A FORWARD -m conntrack --ctstate INVALID -j DROP
iptables -A FORWARD -j REJECT --reject-with icmp-host-unreachable
iptables -A FORWARD -j DROP
{% endif %}

# Input chain
iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A INPUT -i lo -j ACCEPT
iptables -A INPUT -m conntrack --ctstate INVALID -j DROP
iptables -A INPUT -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -p udp -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -p tcp --tcp-flags FIN,SYN,RST,ACK SYN -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -j LOG --log-prefix "INPUT DROP: "
iptables -A INPUT -p udp -j REJECT --reject-with icmp-port-unreachable
iptables -A INPUT -p tcp -j REJECT --reject-with tcp-reset
iptables -A INPUT -j REJECT --reject-with icmp-proto-unreachable

# Output chain
iptables -A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT
iptables -A OUTPUT -m conntrack --ctstate INVALID -j DROP
iptables -A OUTPUT -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT
# traffic to subnet
iptables -A OUTPUT -s {{ network.ip }}/32 -d {{ network.subnet }} -m conntrack --ctstate NEW -p udp -j ACCEPT
iptables -A OUTPUT -s {{ network.ip }}/32 -d {{ network.subnet }} -m conntrack --ctstate NEW -p tcp --tcp-flags FIN,SYN,RST,ACK SYN -j ACCEPT
# minidlna
iptables -A OUTPUT -s {{ network.ip }}/32 -d 239.255.255.250/32 -m conntrack --ctstate NEW -p udp --dport 1900 -j ACCEPT
iptables -A OUTPUT -s {{ network.ip }}/32 -d 239.0.0.0/8 -m conntrack --ctstate NEW -p igmp -j ACCEPT
iptables -A OUTPUT -s {{ network.ip }}/32 -d 224.0.0.22/32 -m conntrack --ctstate NEW -p igmp -j ACCEPT
# samba
iptables -A OUTPUT -s {{ network.ip }}/32 -d {{ network.broadcast }}/32 -m conntrack --ctstate NEW -p udp --sport 138 --dport 138 -j ACCEPT
iptables -A OUTPUT -s {{ network.ip }}/32 -d {{ network.subnet }} -m conntrack --ctstate NEW -p udp --sport 137 --dport 137 -j ACCEPT
# other traffic
iptables -A OUTPUT -s {{ network.ip }}/32 -m conntrack --ctstate NEW -p tcp --tcp-flags FIN,SYN,RST,ACK SYN --dport 80 -j ACCEPT
iptables -A OUTPUT -s {{ network.ip }}/32 -m conntrack --ctstate NEW -p tcp --tcp-flags FIN,SYN,RST,ACK SYN --dport 443 -j ACCEPT
iptables -A OUTPUT -s {{ network.ip }}/32 -m conntrack --ctstate NEW -p tcp --tcp-flags FIN,SYN,RST,ACK SYN --dport 853 -j ACCEPT
iptables -A OUTPUT -s {{ network.ip }}/32 -m conntrack --ctstate NEW -p udp --dport 443 -j ACCEPT
iptables -A OUTPUT -s {{ network.ip }}/32 -m conntrack --ctstate NEW -p udp --dport 123 -j ACCEPT
iptables -A OUTPUT -j LOG --log-prefix "OUTPUT DROP: "
iptables -A OUTPUT -p udp -j REJECT --reject-with icmp-port-unreachable
iptables -A OUTPUT -p tcp -j REJECT --reject-with tcp-reset
iptables -A OUTPUT -j REJECT --reject-with icmp-proto-unreachable

# Flush all current rules from ip6tables
ip6tables -Z
ip6tables -F
ip6tables -X

# Set default policies for INPUT, FORWARD and OUTPUT chains
ip6tables -P INPUT DROP
ip6tables -P FORWARD DROP
ip6tables -P OUTPUT DROP

ip6tables -A INPUT -m conntrack --ctstate INVALID -j DROP
ip6tables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
ip6tables -A INPUT -i lo -j ACCEPT
ip6tables -A INPUT -i eth0 -d fe80::/10 -j ACCEPT
ip6tables -A INPUT -i eth0 -d ff00::/8 -j ACCEPT
ip6tables -A INPUT -j LOG --log-prefix "INPUT DROP: "
ip6tables -A INPUT -j REJECT

ip6tables -A OUTPUT -m conntrack --ctstate INVALID -j DROP
ip6tables -A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
ip6tables -A OUTPUT -o lo -j ACCEPT
ip6tables -A OUTPUT -o eth0 -s fe80::/10 -j ACCEPT
ip6tables -A OUTPUT -o eth0 -d ff00::/8 -j ACCEPT
ip6tables -A OUTPUT -j LOG --log-prefix "OUTPUT DROP: "
ip6tables -A OUTPUT -j REJECT
