#!/bin/bash

# IPv4

# Flush all current rules from iptables
iptables -Z
iptables -t nat -F
iptables -t nat -X
iptables -t mangle -F
iptables -t mangle -X
iptables -t raw -F
iptables -t raw -X
iptables -F
iptables -X

# Set default policies for INPUT, FORWARD and OUTPUT chains
iptables -P INPUT DROP
iptables -P FORWARD DROP
iptables -P OUTPUT DROP

{% if network_router %}
# Force DNS
iptables -A PREROUTING -t nat -s {{ network_subnet }} ! -d {{ network_ip }}/32 -p udp --dport 53 -j DNAT --to {{ network_ip }}

# Force NTP
iptables -A PREROUTING -t nat -s {{ network_subnet }} ! -d {{ network_ip }}/32 -p udp --dport 123 -j DNAT --to {{ network_ip }}

# NAT
iptables -A POSTROUTING -t nat -o {{ network_interface }} -s {{ network_subnet }} -j SNAT --to-source {{ network_ip }}

# Forward chain
iptables -A FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A FORWARD -s {{ network_subnet }} -m conntrack --ctstate NEW -j ACCEPT
iptables -A FORWARD -j LOG --log-prefix "FORWARD DROP: "
iptables -A FORWARD -m conntrack --ctstate INVALID -j DROP
iptables -A FORWARD -j REJECT --reject-with icmp-host-unreachable
{% endif %}

# Input chain
iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A INPUT -i lo -j ACCEPT
iptables -A INPUT -m conntrack --ctstate INVALID -j DROP
iptables -A INPUT -i {{ network_interface }} -s {{ network_subnet }} -d {{ network_ip }} -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -i {{ network_interface }} -s {{ network_subnet }} -d {{ network_ip }} -p udp -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -i {{ network_interface }} -s {{ network_subnet }} -d {{ network_ip }} -p tcp --syn -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -i {{ network_interface }} -s {{ network_subnet }} -d 239.255.255.250/32 -m conntrack --ctstate NEW -p udp --dport 1900 -j ACCEPT
iptables -A INPUT -i {{ network_interface }} -s 0.0.0.0/0 -d 255.255.255.255/32 -m conntrack --ctstate NEW -p udp --sport 68 --dport 67 -j ACCEPT
iptables -A INPUT -i {{ network_interface }} -s {{ network_subnet }} -m conntrack --ctstate NEW -p udp --dport 15600 -j REJECT --reject-with icmp-port-unreachable
iptables -A INPUT -j LOG --log-prefix "INPUT DROP: "
iptables -A INPUT -p udp -j REJECT --reject-with icmp-port-unreachable
iptables -A INPUT -p tcp -j REJECT --reject-with tcp-reset
iptables -A INPUT -j REJECT --reject-with icmp-proto-unreachable

# Output chain
iptables -A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT
iptables -A OUTPUT -m conntrack --ctstate INVALID -j DROP
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -p icmp -m icmp --icmp-type 8 -m conntrack --ctstate NEW -j ACCEPT
# traffic to subnet
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -d {{ network_subnet }} -m conntrack --ctstate NEW -p udp -j ACCEPT
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -d {{ network_subnet }} -m conntrack --ctstate NEW -p tcp --syn -j ACCEPT
# minidlna
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -d 239.255.255.250/32 -m conntrack --ctstate NEW -p udp --dport 1900 -j ACCEPT
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -d 239.0.0.0/8 -m conntrack --ctstate NEW -p igmp -j ACCEPT
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -d 224.0.0.22/32 -m conntrack --ctstate NEW -p igmp -j ACCEPT
# other traffic
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -m conntrack --ctstate NEW -p tcp --syn --dport 22 -j ACCEPT
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -m conntrack --ctstate NEW -p tcp --syn --dport 80 -j ACCEPT
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -m conntrack --ctstate NEW -p tcp --syn --dport 443 -j ACCEPT
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -m conntrack --ctstate NEW -p udp --dport 443 -j ACCEPT
iptables -A OUTPUT -o {{ network_interface }} -s {{ network_ip }}/32 -m conntrack --ctstate NEW -p udp --dport 123 -j ACCEPT
iptables -A OUTPUT -j LOG --log-prefix "OUTPUT DROP: "
iptables -A OUTPUT -p udp -j REJECT --reject-with icmp-port-unreachable
iptables -A OUTPUT -p tcp -j REJECT --reject-with tcp-reset
iptables -A OUTPUT -j REJECT --reject-with icmp-proto-unreachable

# Flush all current rules from ip6tables
ip6tables -Z
ip6tables -F
ip6tables -X

# Set default policies for INPUT, FORWARD and OUTPUT chains
ip6tables -P INPUT DROP
ip6tables -P FORWARD DROP
ip6tables -P OUTPUT DROP

ip6tables -A INPUT -m conntrack --ctstate INVALID -j DROP
ip6tables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
ip6tables -A INPUT -i lo -j ACCEPT
ip6tables -A INPUT -i eth0 -d fe80::/10 -j ACCEPT
ip6tables -A INPUT -i eth0 -d ff00::/8 -j ACCEPT
ip6tables -A INPUT -j LOG --log-prefix "INPUT DROP: "
ip6tables -A INPUT -j REJECT

ip6tables -A OUTPUT -m conntrack --ctstate INVALID -j DROP
ip6tables -A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
ip6tables -A OUTPUT -o lo -j ACCEPT
ip6tables -A OUTPUT -o eth0 -s fe80::/10 -j ACCEPT
ip6tables -A OUTPUT -o eth0 -d ff00::/8 -j ACCEPT
ip6tables -A OUTPUT -j LOG --log-prefix "OUTPUT DROP: "
ip6tables -A OUTPUT -j REJECT
