#!/bin/bash

# IPv4

# Flush all current rules from iptables
iptables -Z
iptables -t nat -F
iptables -t nat -X
iptables -t mangle -F
iptables -t mangle -X
iptables -t raw -F
iptables -t raw -X
iptables -F
iptables -X

# Set default policies for INPUT, FORWARD and OUTPUT chains
iptables -P INPUT DROP
iptables -P FORWARD DROP
iptables -P OUTPUT DROP

{% if network.router %}
# Force DNS
iptables -A PREROUTING -t nat -s {{ network.subnet }} ! -d {{ network.ip }}/32 -p udp --dport 53 -j DNAT --to {{ network.ip }}

# Force NTP
iptables -A PREROUTING -t nat -s {{ network.subnet }} ! -d {{ network.ip }}/32 -p udp --dport 123 -j DNAT --to {{ network.ip }}

# NAT
iptables -A POSTROUTING -t nat -o {{ network.interface }} -s {{ network.subnet }} -j MASQUERADE

# This is used to overcome some ISP's and servers that block ICMP fragmentation needed packets
iptables -A POSTROUTING -t mangle -p tcp --tcp-flags SYN,RST SYN -o {{ network.interface }} -j TCPMSS --clamp-mss-to-pmtu

# Forward chain
iptables -A FORWARD -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A FORWARD -m conntrack --ctstate INVALID -j DROP
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -p icmp -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -m tcp -p tcp --dport 22 -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -m tcp -p tcp --dport 80 -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -m tcp -p tcp --dport 443 -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -m udp -p udp --dport 443 -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -m tcp -p tcp --dport 993 -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -m tcp -p tcp --dport 995 -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -m tcp -p tcp --dport 587 -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -m conntrack --ctstate NEW -m tcp -p tcp --dport 43 -j ACCEPT
iptables -A FORWARD -i {{ network.interface }} -o {{ network.interface }} -s {{ network.subnet }} -d 17.0.0.0/8 -m conntrack --ctstate NEW -j ACCEPT
iptables -A FORWARD -j LOG --log-prefix "FORWARD DROP: "
iptables -A FORWARD -m udp -p udp -j REJECT --reject-with icmp-port-unreachable
iptables -A FORWARD -m tcp -p tcp -j REJECT --reject-with tcp-reset
iptables -A FORWARD -j REJECT --reject-with icmp-proto-unreachable
{% endif %}

# Input chain
iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A INPUT -i lo -j ACCEPT
iptables -A INPUT -m conntrack --ctstate INVALID -j DROP
iptables -A INPUT -i {{ network.interface }} -s {{ network.subnet }} -d {{ network.ip }}/32 -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -i {{ network.interface }} -s {{ network.subnet }} -d 224.0.0.251 -m conntrack --ctstate NEW -j ACCEPT
iptables -A INPUT -i {{ network.interface }} -s {{ network.subnet }} -d 239.255.255.250/32 -m conntrack --ctstate NEW -m udp -p udp --dport 1900 -j ACCEPT
iptables -A INPUT -i {{ network.interface }} -s 0.0.0.0/0 -d 255.255.255.255/32 -m conntrack --ctstate NEW -m udp -p udp --sport 68 --dport 67 -j ACCEPT
iptables -A INPUT -j LOG --log-prefix "INPUT DROP: "
iptables -A INPUT -m udp -p udp -j REJECT --reject-with icmp-port-unreachable
iptables -A INPUT -m tcp -p tcp -j REJECT --reject-with tcp-reset
iptables -A INPUT -j REJECT --reject-with icmp-proto-unreachable

# Output chain
iptables -A OUTPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT
iptables -A OUTPUT -m conntrack --ctstate INVALID -j DROP
iptables -A OUTPUT -o {{ network.interface }} -s {{ network.ip }}/32 -m conntrack --ctstate NEW -p icmp -j ACCEPT
iptables -A OUTPUT -o {{ network.interface }} -s {{ network.ip }}/32 -d {{ network.subnet }} -m conntrack --ctstate NEW -j ACCEPT
iptables -A OUTPUT -o {{ network.interface }} -s {{ network.ip }}/32 -d 239.255.255.250/32 -m conntrack --ctstate NEW -m udp -p udp --dport 1900 -j ACCEPT
iptables -A OUTPUT -o {{ network.interface }} -s {{ network.ip }}/32 -d 224.0.0.251/32 -m conntrack --ctstate NEW -m udp -p udp --dport 5353 -j ACCEPT
iptables -A OUTPUT -o {{ network.interface }} -s {{ network.ip }}/32 -m conntrack --ctstate NEW -m tcp -p tcp --dport 80 -j ACCEPT
iptables -A OUTPUT -o {{ network.interface }} -s {{ network.ip }}/32 -m conntrack --ctstate NEW -m tcp -p tcp --dport 443 -j ACCEPT
iptables -A OUTPUT -o {{ network.interface }} -s {{ network.ip }}/32 -m conntrack --ctstate NEW -m udp -p udp --dport 443 -j ACCEPT
iptables -A OUTPUT -o {{ network.interface }} -s {{ network.ip }}/32 -m conntrack --ctstate NEW -m udp -p udp --dport 123 -j ACCEPT
iptables -A OUTPUT -j LOG --log-prefix "OUTPUT DROP: "
iptables -A OUTPUT -m udp -p udp -j REJECT --reject-with icmp-port-unreachable
iptables -A OUTPUT -m tcp -p tcp -j REJECT --reject-with tcp-reset
iptables -A OUTPUT -j REJECT --reject-with icmp-proto-unreachable

# Flush all current rules from iptables
ip6tables -F
ip6tables -X

# Set default policies for INPUT, FORWARD and OUTPUT chains
ip6tables -P INPUT DROP
ip6tables -P FORWARD DROP
ip6tables -P OUTPUT DROP
