# Empty listen_addresses to use systemd socket activation
listen_addresses = ['127.0.0.1:53', '{{ network.ip }}:53']
server_names = ['{{ dnscrypt_proxy.servername }}']

ipv4_servers = true
ipv6_servers = false
dnscrypt_servers = true
doh_servers = true

require_dnssec = true
require_nolog = true
require_nofilter = true

block_ipv6 = true
block_unqualified = true
block_undelegated = true

cache = true
cache_size = {{ dnscrypt_proxy.cache_size }}
cache_min_ttl = 2400
cache_max_ttl = 86400
cache_neg_min_ttl = 60
cache_neg_max_ttl = 600

forwarding_rules = '/etc/dnscrypt-proxy/forwarding-rules.txt'

cloaking_rules = '/etc/dnscrypt-proxy/cloaking-rules.txt'

[blocked_names]
  blocked_names_file = '/etc/dnscrypt-proxy/blocked-names.txt'

[blocked_ips]
  blocked_ips_file = '/etc/dnscrypt-proxy/blocked-ips.txt'

{% if dnscrypt_proxy.allowed_names is defined %}
[allowed_names]
  allowed_names_file = '/etc/dnscrypt-proxy/allowed-names.txt'
{% endif %}

[query_log]
  file = '/var/log/dnscrypt-proxy/query.log'

[nx_log]
  file = '/var/log/dnscrypt-proxy/nx.log'

[sources]
  [sources.'public-resolvers']
  url = 'https://download.dnscrypt.info/resolvers-list/v3/public-resolvers.md'
  cache_file = '/var/cache/dnscrypt-proxy/public-resolvers.md'
  minisign_key = 'RWQf6LRCGA9i53mlYecO4IzT51TGPpvWucNSCh1CBM0QTaLn73Y7GFO3'
  refresh_delay = 24
  prefix = ''
