server {
  listen {{ ansible_default_ipv4.address }}:{{ nginx_listen_port }};
  server_name {{ item.server_name }};
  root {{ nginx_static_sites_root_dir }}/sites/{{ item.server_name }};
{% if item.autoindex is defined and item.autoindex == true %}
  autoindex on;
{% endif %}

{% if nginx_log %}
  access_log {{ nginx_log_dir }}/{{ item.server_name }}-access.log;
  error_log {{ nginx_log_dir }}/{{ item.server_name }}-error.log;
{% endif %}

  location / {
{% if item.allowed_origins is defined and item.allowed_origins is iterable %}
{% for allowed_origin in item.allowed_origins %}
    if ($http_origin ~* "^https?://({{ allowed_origin }})$") {
      add_header Access-Control-Allow-Origin "$http_origin";
    }
{% endfor %}
{% endif %}
  }
}
