server {
  listen 80;
  server_name {{ item.server_name }};
  root {{ nginx_root_base_path }}/sites/{{ item.server_name }};
{% if item.autoindex is defined and item.autoindex == true %}
  autoindex on;
{% endif %}

  access_log /var/log/nginx/{{ item.server_name }}-access.log;
  error_log /var/log/nginx/{{ item.server_name }}-error.log;

  location / {
  }
}
