authoritative;

option domain-name-servers {{ network_dhcp_nameservers }};
option ntp-servers {{ network_dhcp_nameservers }};
option domain-search "{{ network_domain }}";
option domain-name "{{ network_domain }}";
option subnet-mask {{ network_mask }};
option broadcast-address {{ network_broadcast }};
option routers {{ network_dhcp_gateway }};

subnet {{ network_subnet.split('/')[0]}} netmask {{ network_mask }} {
  range {{ network_dhcp_range_from }} {{ network_dhcp_range_to }};
}
{% if dhcp_reservations is defined and dhcp_reservations is iterable %}
{% for item in dhcp_reservations %}
host {{ item.hostname }} {
  hardware ethernet {{ item.mac }};
  fixed-address {{ item.ip }};
}
{% endfor %}
{% endif %}
