auto lo
iface lo inet loopback

auto {{ network_interface }}
allow-hotplug eth0
{% if network_mode == "dhcp" %}
iface eth0 inet dhcp
{% else %}
iface {{ network_interface }} inet static
    address {{ network_ip }}
    netmask {{ network_mask }}
    gateway {{ network_gateway }}
{% endif %}
