# Unbound configuration file for Debian.
#
# See the unbound.conf(5) man page.
#
# See /usr/share/doc/unbound/examples/unbound.conf for a commented
# reference config file.
#
# The following line includes additional configuration files from the
# /etc/unbound/unbound.conf.d directory.
include-toplevel: "/etc/unbound/unbound.conf.d/*.conf"

server:
	# general settings
	interface: 127.0.0.1
	interface: {{ network_ip }}
	access-control: 0.0.0.0 refuse
	access-control: 127.0.0.0/8 allow
	access-control: {{ network_subnet }} allow
	do-ip4: yes
	do-ip6: no
	do-udp: yes
	do-tcp: yes
	do-not-query-localhost: no
	tls-cert-bundle: /etc/ssl/certs/ca-certificates.crt

	# log
	verbosity: 1
	log-queries: yes
	log-replies: yes
	log-servfail: yes
	log-tag-queryreply: yes
	log-local-actions: yes
	log-time-ascii: yes

	# cache
	cache-max-ttl: {{ unbound.cache_max_ttl }}
	cache-min-ttl: {{ unbound.cache_min_ttl }}

	# security
	qname-minimisation: yes
	qname-minimisation-strict: no
	minimal-responses: yes
	hide-identity: yes
	hide-version: yes

	# refused zones
{% for zone in unbound.refused_zones %}
	local-zone: "{{ zone }}." refuse
{% endfor %}

	# rebind protection
	private-address: 127.0.0.0/8
	private-address: 10.0.0.0/8
	private-address: 172.16.0.0/12
	private-address: 192.168.0.0/16
	private-address: 169.254.0.0/16
	private-address: fd00::/8
	private-address: fe80::/10

	# local DNS
	unblock-lan-zones: no
	insecure-lan-zones: no
	private-domain: {{ network_domain }}

	local-zone: "{{ network_reverse }}." static
	local-data: "{{ network_reverse }}. 10800 IN NS {{ network_hostname }}."
	local-data: "{{ network_reverse }}. 10800 IN SOA {{ network_domain}}. admin.{{ network_domain }}. 1 3600 1200 604800 10800"
	local-data: "b._dns-sd._udp.0.{{ network_reverse }}. IN PTR {{ network_reverse }}."
	local-data: "db._dns-sd._udp.0.{{ network_reverse }}. IN PTR {{ network_reverse }}."
	local-data: "lb._dns-sd._udp.0.{{ network_reverse }}. IN PTR {{ network_reverse }}."

	local-zone: "{{ network_domain }}." static
	local-data: "{{ network_domain }}. 10800 IN NS {{ network_hostname }}."
	local-data: "{{ network_domain }}. 10800 IN SOA {{ network_domain}}. admin.{{ network_domain }}. 1 3600 1200 604800 10800"
	local-data: "_dns.resolver.arpa. 3600 IN SRV 0 100 53 {{ network_hostname }}"
	# http://www.dns-sd.org/ServerSetup.html
	local-data: "b._dns-sd._udp.{{ network_domain }}. IN PTR {{ network_domain }}"
	local-data: "db._dns-sd._udp.{{ network_domain }}. IN PTR {{ network_domain }}."
	local-data: "lb._dns-sd._udp.{{ network_domain }}. IN PTR {{ network_domain }}."
	local-data: "{{ network_hostname }}. IN A {{ network_ip }}"
	local-data-ptr: "{{ network_ip }} {{ network_hostname }}."
{% for host in unbound.dhcp_reservations %}
	local-data: "{{ host.hostname }}.{{ network_domain }}. IN A {{ host.ip }}"
	local-data-ptr: "{{ host.ip }} {{ host.hostname }}.{{ network_domain }}"
{% endfor %}
{% for host in unbound.static_records %}
	local-data: "{{ host.hostname }}.{{ network_domain }}. IN A {{ host.ip }}"
{% endfor %}

root-hints: root.hints

remote-control:
	control-interface: 127.0.0.1

forward-zone:
	name: "."
	forward-tls-upstream: yes
{% for forward_addr in unbound.forward_addrs %}
	forward-addr: {{ forward_addr }}
{% endfor %}
