[Unit]
Description=Evebox Agent
After=remote-fs.target network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=evebox agent -c /etc/evebox/agent.yaml
WorkingDirectory={{ evebox_working_directory }}
KillMode=process
Restart=on-failure
