address=/facebook.com/#
address=/www.facebook.com/#
address=/facebook.net/#
address=/fb.com/#
address=/fbcdn.net/#
address=/fbcdn.com/#
address=/fbsbx.com/#
address=/tfbnw.net/#
address=/facebook-web-clients.appspot.com/#
address=/fbcdn-profile-a.akamaihd.net/#
address=/fbsbx.com.online-metrix.net/#
address=/connect.facebook.net.edgekey.net/#
address=/facebookrecruiting.com/#
address=/instagram.com/#
address=/cdninstagram.com/#
address=/instagramstatic-a.akamaihd.net/#
address=/instagramstatic-a.akamaihd.net.edgesuite.net/#
address=/messenger.com/#
address=/m.me/#
address=/messengerdevelopers.com/#
address=/facebook.messenger.com/#
address=/atdmt.com/#
address=/workplace.com/#
address=/www.workplace.com/#
address=/work.facebook.com/#
address=/onavo.com/#
address=/oculus.com/#
address=/oculusvr.com/#
address=/oculusbrand.com/#
address=/oculusforbusiness.com/#
address=/mapwith.ai/#
address=/wit.ai/#
address=/oversightboard.com/#
address=/www.oversightboard.com/#
address=/bulletin.com/#
address=/facebookbrand.com/#
address=/novi.com/#
