{% for server in dnsmasq.server %}
server={{ server }}
{% endfor %}
local-service
bogus-priv
filterwin2k
domain-needed
stop-dns-rebind
cache-size={{ dnsmasq.cache_size }}
no-negcache
no-resolv
no-hosts
no-poll

log-queries
log-facility=/var/log/dnsmasq.log
log-async=20

local=/{{ dnsmasq.domain.name}}/
domain={{ dnsmasq.domain.name}}

{% for record in dnsmasq.host_records %}
host-record={{ record.domain }},{{ record.ip }}
{% endfor %}

{% for ibl in dnsmasq.inline_blacklists %}
address=/{{ ibl.domain }}/{{ ibl.ip }}
{% endfor %}

{% for bl in dnsmasq.blacklists %}
conf-file={{ bl.filename }}
{% endfor %}
